/*
.container-fluid{
  text-align: left;
  padding: 5em 5em 5em 5em;
  margin: 1em 5em 5em 5em;
  //background-color: #BBD8DC !important;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  width: 60em;
}
*/
body, input[text], label {
  font-family: Arial, Helvetica, sans-serif;
}
/*
button{
  width: 21em; 
  color: white;
  font-style: bold;
  font-size: large;
  line-height: 2em;
  left: 1em;
  position: relative;
  height: 2.5em;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;  
}
*/
button:hover{
  /*
  background-color: #BBD8DC !important;
  color: #ffff4d;
  */ 
  font-style: italic; 
}



.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.maps {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 25em; */
}
.maps li {
  cursor: pointer;
  position: relative;
  left: 0;
  /* background-color: #EEE; */
  margin: .5em;
  padding: .3em 0;
  /*
  height: 2.0em;
  border-radius: 4px;
  */
}
.maps li.selected:hover {
  /*background-color: #BBD8DC !important;*/
  color: white;
}
.maps li:hover {
  /* color: #607D8B; */
  /*background-color: #DDD;8/
  left: .1em;
}
.maps .text {
  position: relative;
  top: -3px;
}
.maps .badge {
  /* width: 22em; */
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0em 0.7em;
  line-height: 1em;
  position: relative;
  left: 1em;
  top: -4px;
  /*
  height: 1.9em;
  margin-right: .8em;
  border-radius: 4px 4px 4px 4px;
  */
}

.selected .badge{
  /* color: #ffff4d; */
  /*font-style: italic;*/
  vertical-align: center;
}
