<div>
  <p>Users - <label class="label label-primary">{{message}}</label></p>
  <p style="text-align:right">
    <button (click)="gotoUtility()"class="btn btn-default">Utility</button>
    <button (click)="logOff()"class="btn btn-default">Log off</button>
</p>

    <table class="table table-hover">
    <tr class="success" style="text-align:left"><th>oid</th><th>study code</th><th>password</th><th>sponsor code</th><th>Assessment</th><th>Report</th><th>Summary</th><th>Results</th><th>Update</th><th>Delete</th>
    </tr>
	<tr *ngFor="let person of people" style="text-align:left">
    
    <!--<td><input [(ngModel)]="person.oid" placeholder="oid"></td> -->
    <td>{{person.oid}}</td>
    <td><input [(ngModel)]="person.study_code" placeholder="username"></td>
    <td><input [(ngModel)]="person.password" placeholder="password"></td>
    <td>{{person.sponsor_code}}</td>
   
<!--
    <td><button (click)="selectUser(person._id)"class="btn btn-default">Start Assessment </button></td>
    <td>{{person.__v}}</td>
    <td> <span *ngIf="person.demo"> Age: {{person.demo.age}} - gender:{{person.demo.gender}} </span></td>
    <td> <span *ngIf="person.forms">{{person.forms[0]}},{{person.forms[1]}},{{person.forms[2]}},{{person.forms[3]}},{{person.forms[4]}},{{person.forms[5]}}</span></td>
 -->
    <td><button (click)="gotoLogin()"class="btn btn-default">Start Assessment </button></td>
    <td><button (click)="gotoReport(person)"class="btn btn-default">Report </button></td> 
    <td><button (click)="exportSummaryData(person)"class="btn btn-default">Summary Data </button></td> 
    <td><button (click)="exportData(person)"class="btn btn-default">Export Data </button></td>   
    <td><button (click)="updateUser(person)"class="btn btn-default">Update </button></td>
    <td><button (click)="deleteUser(person)"class="btn btn-default">Delete </button></td>
  </tr>
  <tr style="text-align:left">
    <td><input [(ngModel)]="oid" placeholder="oid"></td>
    <td><input [(ngModel)]="study_code" placeholder="username"></td>
    <td><input [(ngModel)]="password" placeholder="password"></td>
    <td></td>
    <td colspan='6'><button (click)="addUser()"class="btn btn-default">Add </button></td>
  </tr>
	</table>
</div>